{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{%  static 'css/style.css'%}">
        <link rel="stylesheet" href="{%  static 'font/blippo.css'%}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <title>PYNEER</title>
    </head>

    <body>
        <div class="header">
            <div class="l-wrapper">
                <a class="header-logo" href="#">pyneer</a>

                <!-- hamburger menu for mobile -->
                <input type="checkbox" class="menu-box" id="menu-control" />
                <label class="menu-button" for="menu-control"> 
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </label>

                <ul class="header-menu">
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="#">About</a></li>  
                    <li><a href="#">Project</a></li>
                    <li><a href="#">Contact</a></li>

                </ul>
            </div>

        </div>

        <div class="section intro">
            <div class="container">
                <canvas width="1000" height="400"></canvas>
            <div class="intro-overlay">
                    <h2 class="header-title">성균관대학교<br class="br-on-mobile"> 프로그래밍 동아리<br></h2><h2 class="pyneer-title">Pyneer</h2>
                    <p>Pyneer에서는 서로 다른 분야의 학생들이 모여 각자가 알고 있는 전공 지식을<br>서로에게 가르치고 배우면서 사고의 스펙트럼을 넓힙니다.<br>새로운 아이디어를 구체화하고 제작하면서 실질적인 프로그래밍에 대한 이해도 키우고,<br>구체적인 팀 경험을 통해 협업하는 환경에서 성장하는 기회를 제공합니다.</p>
                </div>

            </div>
        </div>


        <div class="section about">
            <ul class="l-row">
                <li class="l-col l-col-6-12">
                    <a class="part" href="" id=1>
                        <h2 class="part-title">프로젝트 개발</h2>
                        <p>실제 문제를 해결하기 위한 프로젝트 활동을 통해서 살아있는 프로그래밍 역량을 키웁니다</p>
                    </a>
                </li>
                <li class="l-col l-col-6-12">
                    <a class="part" href="" id=2>
                        <h2 class="part-title">스터디 운영</h2>
                        <p>다양한 전공분야와 배경지식을 가진 학생들이 아이디어를 도출하고 협업하는 팀 문화 속에서 각자 부족한 부분에 맞는 스터디를 진행합니다</p>
                    </a>
                </li>
            </ul>
        </div>  

        <div class="section project">
            <ul class="l-row">
                <h2>Project</h2>
                <div class="l-col-1-12">
                    <div class="project-info">
                        <div id="year2016-2">
                            <h3>2016-2</h3>
                            <li>
                                <div class="circle" style="background-color: #ff00ff" href="">
                                <div class="desc">
                                    <div class="desc-title">
                                        AI 홀로그램 스피커
                                    </div>
                                    <div class="content">
                                        AI를 기반으로 한 개인 맞춤형 3D 홀로그램 스피커
                                    </div>
                                </div> 
                                </div>
                            </li>
                        </div>
                        <div id="year2017-1">
                            <h3>2017-1</h3>
                            <li>
                                <a class="circle" style="background-color: #FFFF00" href=""> 
                                </a>
                            </li>
                            <li>
                                <a class="circle" style="background-color: #ff00ff" href=""> 
                                </a>
                            </li>
                            <li>
                                <a class="circle" style="background-color: #00FF00" href=""> 
                                </a>
                            </li>
                            <li>
                                <a class="circle" style="background-color: #00FFFF" href=""> 
                                </a>
                            </li>
                        </div>
                        <div id="year2017-2">
                            <h3>2017-2</h3>
                            <li>
                                <a class="circle" style="background-color: #00FFFF" href=""> 
                                </a>
                            </li>
                            <li>
                                <a class="circle" style="background-color: #00FF00" href=""> 
                                </a>
                            </li>
                            <li>
                                <a class="circle" style="background-color: #FFFF00" href=""> 
                                </a>
                            </li>
                            <li>
                                <div class="circle" style="background-color: #ff00ff" href="">
                                <div class="desc">
                                    <div class="desc-title">
                                        AI 홀로그램 스피커
                                    </div>
                                    <div class="content">
                                        AI를 기반으로 한 개인 맞춤형 3D 홀로그램 스피커
                                    </div>
                                </div> 
                                </div>
                            </li>
                        </div>
                        <div id="year2018-1">
                            <h3>2018-1</h3>
                            <li>
                                <a class="circle" style="background-color: #ff00ff" href=""> 
                                </a>
                            </li>
                            <li>
                                <a class="circle" style="background-color: #00FF00" href=""> 
                                </a>
                            </li>
                            <li>
                                <a class="circle" style="background-color: #FFFF00" href=""> 
                                </a>
                            </li>
                            <li>
                                <a class="circle" style="background-color: #00FFFF" href=""> 
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
                

            </ul>
        </div>

        <div class="section contact">
            <h3>Contact</h3>
            <p>pyneer2016@gmail.com</p>
        </div>
        
        <script src="{%  static 'js/script.js'%}"></script>
    </body>

</html>