<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/typegrid2.css">
        <link rel="stylesheet" type="text/css" href="css/style2.css">
    </head>
    <body>
        <div class="header">
            <div class="header-logo">
                <img src="images/logo.svg" alt="logo">

            </div>
            <div class="header-menu">
                <li><a href="notice.html">공지사항</a></li>
                <li><a href="minutes.html">게시판</a></li>
                <li><a href="member.html">멤버</a></li>
                <li><a href="myinfo.html">내정보</a></li>
            </div>
        </div>
        <div id="products" class="row">
            <div class="item">
                <div class="thumbnail">
                    <img class="item-image" src="images/logo.svg" alt="">
                </div>
                <div class="caption">
                    <h4 class="inner-heading">
                        이석범
                    </h4>
                    <p class="inner-text">저는 이석범입니다.</p>
                    <p class="inner-text">010-xxxx-xxxx</p>
                    <p class="inner-text">xxx@naver.com</p>

                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img class="item-image" src="images/logo.svg" alt="">
                </div>
                <div class="caption">
                    <h4 class="inner-heading">
                        이석범
                    </h4>
                    <p class="inner-text">저는 이석범입니다.</p>
                    <p class="inner-text">010-xxxx-xxxx</p>
                    <p class="inner-text">xxx@naver.com</p>

                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img class="item-image" src="images/logo.svg" alt="">
                </div>
                <div class="caption">
                    <h4 class="inner-heading">
                        이석범
                    </h4>
                    <p class="inner-text">저는 이석범입니다.</p>
                    <p class="inner-text">010-xxxx-xxxx</p>
                    <p class="inner-text">xxx@naver.com</p>

                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img class="item-image" src="images/logo.svg" alt="">
                </div>
                <div class="caption">
                    <h4 class="inner-heading">
                        이석범
                    </h4>
                    <p class="inner-text">저는 이석범입니다.</p>
                    <p class="inner-text">010-xxxx-xxxx</p>
                    <p class="inner-text">xxx@naver.com</p>
                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img class="item-image" src="images/logo.svg" alt="">
                </div>
                <div class="caption">
                    <h4 class="inner-heading">
                        이석범
                    </h4>
                    <p class="inner-text">저는 이석범입니다.</p>
                    <p class="inner-text">010-xxxx-xxxx</p>
                    <p class="inner-text">xxx@naver.com</p>

                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img class="item-image" src="images/logo.svg" alt="">
                </div>
                <div class="caption">
                    <h4 class="inner-heading">
                        이석범
                    </h4>
                    <p class="inner-text">저는 이석범입니다.</p>
                    <p class="inner-text">010-xxxx-xxxx</p>
                    <p class="inner-text">xxx@naver.com</p>

                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img class="item-image" src="images/logo.svg" alt="">
                </div>
                <div class="caption">
                    <h4 class="inner-heading">
                        이석범
                    </h4>
                    <p class="inner-text">저는 이석범입니다.</p>
                    <p class="inner-text">010-xxxx-xxxx</p>
                    <p class="inner-text">xxx@naver.com</p>

                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img class="item-image" src="images/logo.svg" alt="">
                </div>
                <div class="caption">
                    <h4 class="inner-heading">
                        이석범
                    </h4>
                    <p class="inner-text">저는 이석범입니다.</p>
                    <p class="inner-text">010-xxxx-xxxx</p>
                    <p class="inner-text">xxx@naver.com</p>

                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img class="item-image" src="images/logo.svg" alt="">
                </div>
                <div class="caption">
                    <h4 class="inner-heading">
                        이석범
                    </h4>
                    <p class="inner-text">저는 이석범입니다.</p>
                    <p class="inner-text">010-xxxx-xxxx</p>
                    <p class="inner-text">xxx@naver.com</p>

                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img class="item-image" src="images/logo.svg" alt="">
                </div>
                <div class="caption">
                    <h4 class="inner-heading">
                        이석범
                    </h4>
                    <p class="inner-text">저는 이석범입니다.</p>
                    <p class="inner-text">010-xxxx-xxxx</p>
                    <p class="inner-text">xxx@naver.com</p>
                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img class="item-image" src="images/logo.svg" alt="">
                </div>
                <div class="caption">
                    <h4 class="inner-heading">
                        이석범
                    </h4>
                    <p class="inner-text">저는 이석범입니다.</p>
                    <p class="inner-text">010-xxxx-xxxx</p>
                    <p class="inner-text">xxx@naver.com</p>

                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img class="item-image" src="images/logo.svg" alt="">
                </div>
                <div class="caption">
                    <h4 class="inner-heading">
                        이석범
                    </h4>
                    <p class="inner-text">저는 이석범입니다.</p>
                    <p class="inner-text">010-xxxx-xxxx</p>
                    <p class="inner-text">xxx@naver.com</p>

                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img class="item-image" src="images/logo.svg" alt="">
                </div>
                <div class="caption">
                    <h4 class="inner-heading">
                        이석범
                    </h4>
                    <p class="inner-text">저는 이석범입니다.</p>
                    <p class="inner-text">010-xxxx-xxxx</p>
                    <p class="inner-text">xxx@naver.com</p>

                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img class="item-image" src="images/logo.svg" alt="">
                </div>
                <div class="caption">
                    <h4 class="inner-heading">
                        이석범
                    </h4>
                    <p class="inner-text">저는 이석범입니다.</p>
                    <p class="inner-text">010-xxxx-xxxx</p>
                    <p class="inner-text">xxx@naver.com</p>

                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img class="item-image" src="images/logo.svg" alt="">
                </div>
                <div class="caption">
                    <h4 class="inner-heading">
                        이석범
                    </h4>
                    <p class="inner-text">저는 이석범입니다.</p>
                    <p class="inner-text">010-xxxx-xxxx</p>
                    <p class="inner-text">xxx@naver.com</p>

                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img class="item-image" src="images/logo.svg" alt="">
                </div>
                <div class="caption">
                    <h4 class="inner-heading">
                        이석범
                    </h4>
                    <p class="inner-text">저는 이석범입니다.</p>
                    <p class="inner-text">010-xxxx-xxxx</p>
                    <p class="inner-text">xxx@naver.com</p>

                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img class="item-image" src="images/logo.svg" alt="">
                </div>
                <div class="caption">
                    <h4 class="inner-heading">
                        이석범
                    </h4>
                    <p class="inner-text">저는 이석범입니다.</p>
                    <p class="inner-text">010-xxxx-xxxx</p>
                    <p class="inner-text">xxx@naver.com</p>
                </div>

            </div>

        </div>
    </body>


</html>   



