<!DOCTYPE HTML>
<html>
       <head>
               <link rel="stylesheet" type="text/css" href="css/typegrid2.css">
	           <link rel="stylesheet" type="text/css" href="css/style2.css">
       </head>
       <body>
           <div class="header">
               <div class="header-logo">
                   <img src="images/logo.svg" alt="logo">
                   
               </div>
               <div class="header-menu">
                   <li><a href="notice.html">공지사항</a></li>
                   <li><a href="minutes.html">게시판</a></li>
                   <li><a href="member.html">멤버</a></li>
                   <li><a href="myinfo.html">내정보</a></li>
               </div>
               <div class="nav-menu">
                   
                   <div class="year">
                       <div id="all"><a href=""><h2>전체</h2></a></div>
                       <div id="2018"><a href=""><h2>2018</h2></a></div>
                       <div id="2017"><a href=""><h2>2017</h2></a></div>
                       <div id="2016"><a href=""><h2>2016</h2></a></div>
                   </div>
               </div>
               <div class="content-container">
                   <div id="content-title"><h1>전체</h1></div>
                   <a href="/minutes/1.html">
                   <div class="content">
                       <div class="title">제목</div>
                       <div class="writer">작성자</div>
                       <div class="date">날짜</div>
                   </div></a>
                   <div class="content">
                       <div class="title">제목</div>
                       <div class="writer">작성자</div>
                       <div class="date">날짜</div>
                   </div>
                   <div class="content">
                       <div class="title">제목</div>
                       <div class="writer">작성자</div>
                       <div class="date">날짜</div>
                   </div>
                   <div class="content">
                       <div class="title">제목</div>
                       <div class="writer">작성자</div>
                       <div class="date">날짜</div>
                   </div>
                   <div class="content">
                       <div class="title">제목</div>
                       <div class="writer">작성자</div>
                       <div class="date">날짜</div>
                   </div>
                   <div class="content">
                       <div class="title">제목</div>
                       <div class="writer">작성자</div>
                       <div class="date">날짜</div>
                   </div>
                   <div class="content">
                       <div class="title">제목</div>
                       <div class="writer">작성자</div>
                       <div class="date">날짜</div>
                   </div>
                   <div class="content">
                       <div class="title">제목</div>
                       <div class="writer">작성자</div>
                       <div class="date">날짜</div>
                   </div>
                   <div class="content">
                       <div class="title">제목</div>
                       <div class="writer">작성자</div>
                       <div class="date">날짜</div>
                   </div>
                   <div class="content">
                       <div class="title">제목</div>
                       <div class="writer">작성자</div>
                       <div class="date">날짜</div>
                   </div>
                   <div class="content">
                       <div class="title">제목</div>
                       <div class="writer">작성자</div>
                       <div class="date">날짜</div>
                   </div>
                   <div class="content">
                       <div class="title">제목</div>
                       <div class="writer">작성자</div>
                       <div class="date">날짜</div>
                   </div>
                   <div class="content">
                       <div class="title">제목</div>
                       <div class="writer">작성자</div>
                       <div class="date">날짜</div>
                   </div>
                   <div class="content">
                       <div class="title">제목</div>
                       <div class="writer">작성자</div>
                       <div class="date">날짜</div>
                   </div>
                   
               </div>
               
               
           </div>
    </body>
</html>