{% extends 'blog/project_base.html' %}
{% load staticfiles %}
{#로드 스테틱파일을 하는 이유는 아래에 이미지를 사용하기 때문이다.#}
{#사진을 업로드 할 수 있는 방법을 적용한다면 이에 대한 수정이 필요하다.#}
{% block content %}

<section class="page-project">
    <div class="project-ty">
        <div class="project-ty__title"><h2>{{ project.project_title }}</h2>
            <div class="project-ty__year">{{ project.project_year }}</div>
            <div class="project-ty__member">{{ project.project_member }}</div>
        </div>
    </div>
    <div class="project-info">
        <div class="project-info__desc">
            <p>{{ project.project_text|linebreaksbr }}</p>
        </div>
    </div>
    <div class="project-images">
        <img src="{% static 'img/project/gui1.png' %}">
        <img src="{% static 'img/project/gui2.png' %}">
    </div>
    <div class="project-external">{{ project.project_extra }}</div>
</section>

{% endblock %}